* {
  margin: 0;
  padding: 0;
}
.container--1 {
  display: flex;
  min-height: 60vh;
  justify-content: center;
}
.wordBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.line div {
  margin: 5px 5px 5px 5px;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background-color: #d3d3d3;
}

body {
  color: black;
  font-family: "Clear Sans", sans-serif;
  font-size: 1.5rem;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.container--2 {
  display: flex;
  min-height: 40vh;
  justify-content: center;
}
.keyboard {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.newgame {
  width: 25%;
  height: 80px;
  border-radius: 5px;
  background-color: #57fc55;
  padding: 10px;
  cursor: pointer;
}
.line .enter,
.line .backspace {
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backspace svg {
  pointer-events: none;
  height: 30%;
  width: 30%;
  stroke: currentColor;
  stroke-width: 0.5px;
}
button {
  border: none;
  margin: 5px 5px 5px 5px;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background-color: #d3d3d3;
  font-family: "Clear Sans", sans-serif;
  font-size: 1.5rem;
}

.line .green {
  background-color: green;
}
.line .orange {
  background-color: orange;
}
.line .grey {
  background-color: gray;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
}
.modal {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 20%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 10px;
  padding: 6rem;
}
.modal-close {
  position: absolute;

  margin: 0;
  top: 0.1%;
  right: 0.1%;
  font-size: 4rem;

  background: none;
  background: none;
  color: #333;
  cursor: pointer;
}
.container--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.answermodal {
  margin-bottom: 20px;
}
.Win_or_Loss {
  margin-bottom: 30px;
}
.ngmodal {
  position: static;
}
@media (max-width: 768px) {
  .wordBlock {
    width: 95%;
  }
  .keyboard {
    width: 100%;
  }
  .line div {
    width: 3.5rem;
    height: 3.5rem;
  }
  button {
    width: 8vw;
    height: 3.5rem;
    font-size: 1rem;
  }
  .modal {
    width: 80%;
  }
}
